.color_wrapper {
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.color_title {
 width: 62px;
 font-size: 30px;
 border-bottom: 3px solid #707070;
 margin: 150px 0 50px 0;
}

.color_tap_wrapper .color_img_wrapper {
 width: 1100px;
 height: 395.09px;
 color: black;
 margin: 0 0 91px 0;
 display: flex;
 justify-content: center;
 align-items: center;
}

.sketchfab-embed-wrapper {
 width: 100%;
 height: 100%;
}
.color_mustang_3d {
 width: 100%;
 height: 100%;
}

.color_tap_wrapper {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.color_img_wrapper .tab_content {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.color_img_wrapper .tab_content img {
 width: 1100px;
 height: 395.09px;
 /* width: 900px;
 height: 395.09px; */
 background-size: cover;
}

.color_img_wrapper .tab_content iframe {
 width: 900px;
 height: 395px;
}

.color_tap {
 width: 70px;
 height: 70px;
 border-radius: 100%;
 border: 3px solid #ffffff;
 margin: 0 8px;
 margin: none;
 font-display: none;
 position: relative;
}
.color_tap_wrapper .tab_btn_1:checked ~ .color_img_wrapper .tab1_content,
.color_tap_wrapper .tab_btn_2:checked ~ .color_img_wrapper .tab2_content,
.color_tap_wrapper .tab_btn_3:checked ~ .color_img_wrapper .tab3_content,
.color_tap_wrapper .tab_btn_4:checked ~ .color_img_wrapper .tab4_content,
.color_tap_wrapper .tab_btn_5:checked ~ .color_img_wrapper .tab5_content,
.color_tap_wrapper .tab_btn_6:checked ~ .color_img_wrapper .tab6_content,
.color_tap_wrapper .tab_btn_7:checked ~ .color_img_wrapper .tab7_content,
.color_tap_wrapper .tab_btn_8:checked ~ .color_img_wrapper .tab8_content,
.color_tap_wrapper .tab_btn_9:checked ~ .color_img_wrapper .tab9_content,
.color_tap_wrapper .tab_btn_0:checked ~ .color_img_wrapper .tab0_content {
 display: flex;
 width: 100%;
 height: 50%;
 justify-content: center;
}
.color_tap_wrapper input,
.color_tap_wrapper .tab_content {
 display: none;
}

.color_checked_circle {
 width: 65%;
 height: 65%;
 /* background-color: white; */
 border-radius: 50px;
 position: absolute;
 margin: 11px 10px 10px 11px;

 display: none;
}

.color_tap_wrapper .tab_btn_1:checked ~ .color_tab_label .color_tap_1 .color_tap_1_checked,
.color_tap_wrapper > label[for="tab1"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_2:checked ~ .color_tab_label .color_tap_2 .color_tap_2_checked,
.color_tap_wrapper > label[for="tab2"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_3:checked ~ .color_tab_label .color_tap_3 .color_tap_3_checked,
.color_tap_wrapper > label[for="tab3"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_4:checked ~ .color_tab_label .color_tap_4 .color_tap_4_checked,
.color_tap_wrapper > label[for="tab4"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_5:checked ~ .color_tab_label .color_tap_5 .color_tap_5_checked,
.color_tap_wrapper > label[for="tab5"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_6:checked ~ .color_tab_label .color_tap_6 .color_tap_6_checked,
.color_tap_wrapper > label[for="tab6"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_7:checked ~ .color_tab_label .color_tap_7 .color_tap_7_checked,
.color_tap_wrapper > label[for="tab7"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_8:checked ~ .color_tab_label .color_tap_8 .color_tap_8_checked,
.color_tap_wrapper > label[for="tab8"]:hover {
 display: block;
}
.color_tap_wrapper .tab_btn_9:checked ~ .color_tab_label .color_tap_9 .color_tap_9_checked,
.color_tap_wrapper > label[for="tab9"]:hover {
 display: block;
}

.color_tap_wrapper > .color_tab_label .color_tap_1 {
 background: linear-gradient(-45deg, #9d0905 50%, #ad2829 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_2 {
 background: linear-gradient(-45deg, #fe7e0e 50%, #ff9032 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_3 {
 background: linear-gradient(-45deg, #005893 50%, #296fa1 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_4 {
 background: linear-gradient(-45deg, #589747 50%, #73c35f 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_5 {
 background: linear-gradient(-45deg, #000000 50%, #262626 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_6 {
 background: linear-gradient(-45deg, #5a5a5a 50%, #717171 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_7 {
 background: linear-gradient(-45deg, #b3b8c2 50%, #bec3cb 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_8 {
 background: linear-gradient(-45deg, #101a66 50%, #343a7f 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_9 {
 background: linear-gradient(-45deg, #df1201 50%, #e22626 50%);
}
.color_tap_wrapper > .color_tab_label .color_tap_0 {
 background: #fff;
}

.color_tab_label {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

@media (max-width: 800px) {
 /* .color_tap {
  width: 60px;
  height: 60px;
 }
 .color_checked_circle {
  margin: 9px 10px 10px 9px;
 } */
 .color_tab_label {
  flex-wrap: wrap;
 }

 .color_img_wrapper .tab_content img {
  width: 900px;
  height: 295.09px;
  /* width: 900px;
    height: 395.09px; */
 }
 .color_tap_wrapper .color_img_wrapper {
  margin: 0 0 40px 0;
 }
}
