@keyframes motion {
 0% {
  margin-top: 0px;
 }
 100% {
  margin-top: 8px;
 }
}
-webkit-@keyframes motion {
 0% {
  margin-top: 0px;
 }
 100% {
  margin-top: 8px;
 }
}
-moz-@keyframes motion {
 0% {
  margin-top: 0px;
 }
 100% {
  margin-top: 8px;
 }
}
-ms-@keyframes motion {
 0% {
  margin-top: 0px;
 }
 100% {
  margin-top: 8px;
 }
}

.main_body {
 width: 100%;
 height: 1050px;
 background-image: url(https://firebasestorage.googleapis.com/v0/b/hmg-fileserver.appspot.com/o/MUSTANG%2Fmain%2Fmain_img.jpeg?alt=media&token=7d61b463-0bfd-4bea-b4dc-6d63c2b738e8);
 background-repeat: none;
 background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
.main_body .main_haeder {
 width: 100%;
 display: flex;
 justify-content: flex-start;
}

/* ================== text =================== */

.main_body .main_text_1 {
 margin: 110px 0 0 0;
 font-size: 200px;
 font-weight: 900;
}
.main_body .main_text_2 {
 font-size: 60px;
 font-weight: 900;
 margin: 0 0 0 19px;
}

/* =================== logo  ====================*/

.main_body .main_logo {
 width: 150px;
 height: 110.9px;
 margin: 0 0 0 135px;
}

/* =================== wrapper ================= */

.main_body .rswrapper {
 width: 1350px;
}

.main_body .main_wrapper {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.main_body .main_main_wrapper {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/* =================== icon ==================== */

.main_body .icon {
 width: 50px;
 height: 50px;
 margin: 395px 0 0 0;
}

.main_body .icon_body_1 {
 margin: 0 0 0 73px;
}

.main_body .icon_body {
 width: 100%;
 height: 60px;
 display: flex;
 justify-content: center;
}
.main_body .icon_body_1,
.main_body .icon_body_3 {
 width: 40%;
}

.main_body .icon_body_2 {
 width: 30%;
 margin: 350px 0 0 0;
 display: flex;
 justify-content: center;
}

.main_body .icon_sortdown {
 margin: 370px 0 44px 0;
 width: 90px;
 height: 90px;
 animation: motion 0.5s linear 0s infinite alternate;
 margin-top: 0;
 -webkit-animation: motion 0.5s linear 0s infinite alternate;
 margin-top: 0;
 -moz-animation: motion 0.5s linear 0s infinite alternate;
 margin-top: 0;
 -ms-animation: motion 0.5s linear 0s infinite alternate;
 margin-top: 0;
}

@media all and (max-width: 1820px) {
 .main_body .main_logo {
  width: 150px;
  height: 110.9px;
  margin: 0 0 0 100px;
 }
 .main_body {
  width: 100%;
  height: 900px;
 }
 .main_body .main_text_1 {
  margin: 100px 0 0 0;
  font-size: 150px;
  font-weight: 900;
 }
 .main_body .main_text_2 {
  font-size: 50px;
  font-weight: 900;
  margin: 0 0 0 19px;
 }
}

/* PC (해상도 1024px)*/
@media all and (max-width: 1024px) {
 .main_body .main_logo {
  width: 140px;
  height: 100.9px;
 }
 .main_body {
  height: 800px;
 }
 .main_body .main_text_1 {
  margin: 90px 0 0 80px;
  font-size: 120px;
  font-weight: 900;
 }
 .main_body .main_text_2 {
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 0 86px;
 }
 .main_body .icon_sortdown {
  margin: 370px 0 50px 0;
  width: 90px;
  height: 90px;
 }

 .main_body .icon_body_2 {
  width: 30%;
  margin: 250px 0 0 0;
  display: flex;
  justify-content: center;
 }
} /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
 /*스타일입력*/
} /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
 /*스타일입력*/
}

@media (max-width: 1500px) {
 .main_body .main_logo {
  width: 140px;
  height: 100.9px;
  margin: 0 0 0 20px;
 }
 .main_body {
  height: 800px;
 }
 .main_body .main_text_1 {
  margin: 90px 0 0 80px;
  font-size: 120px;
  font-weight: 900;
 }
 .main_body .main_text_2 {
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 0 86px;
 }
}
@media (max-width: 1350px) {
 .main_body .main_logo {
  width: 140px;
  height: 100.9px;
 }
 .main_body {
  height: 700px;
 }
 .main_body .main_text_1 {
  /* margin: 90px 0 0 120px; */
  font-size: 100px;
  font-weight: 900;
 }
 .main_body .main_text_2 {
  font-size: 35px;
  font-weight: 900;
  /* margin: 0 0 0 126px; */
 }
 .main_body .icon_body_2 {
  margin: 250px 0 0 0;
 }
 .main_body .rswrapper {
  width: 1280px;
 }
}
@media (max-width: 1280px) {
 .main_body .main_logo {
  width: 130px;
  height: 90.9px;
 }
 .main_body {
  height: 650px;
 }
 .main_body .main_text_1 {
  /* margin: 90px 0 0 180px; */
  font-size: 100px;
  font-weight: 900;
 }
 .main_body .main_text_2 {
  font-size: 35px;
  font-weight: 900;
  /* margin: 0 0 0 186px; */
 }
 .main_body .icon_body_2 {
  margin: 250px 0 0 0;
 }
 .main_body .rswrapper {
  width: 1100px;
 }
}
@media (max-width: 1100px) {
 .main_body .main_logo {
  width: 130px;
  height: 90.9px;
 }
 .main_body {
  height: 650px;
 }
 .main_body .main_text_1 {
  /* margin: 90px 0 0 250px; */
  font-size: 100px;
  font-weight: 900;
 }
 .main_body .main_text_2 {
  font-size: 35px;
  font-weight: 900;
  /* margin: 0 0 0 256px; */
 }
 .main_body .icon_body_2 {
  margin: 200px 0 0 0;
 }
 .main_body .rswrapper {
  width: 900px;
 }
}
@media (max-width: 900px) {
 .main_body .main_logo {
  display: none;
 }
 .main_body {
  height: 500px;
 }
 .main_body .main_text_1 {
  margin: 120px 0 0 30px;
  font-size: 100px;
  font-weight: 900;
 }
 .main_body .main_text_2 {
  font-size: 35px;
  font-weight: 900;
  margin: 0 0 0 36px;
 }
 .main_body .icon_body_2 {
  margin: 160px 0 0 0;
 }
 .main_body .icon_sortdown {
  width: 70px;
  height: 70px;
 }
 .main_body .rswrapper {
  width: 800px;
 }
}
@media (max-width: 800px) {
 .main_body .rswrapper {
  width: 700px;
 }
}
@media (max-width: 700px) {
 .main_body .rswrapper {
  width: 600px;
 }
}
