{% block content %}
<div class="color_wrapper">
 <h2 class="color_title">color</h2>
 <div class="color_img_wrapper">
  <div class="sketchfab-embed-wrapper">
   <iframe
    class="color_mustang_3d"
    title="Ford Mustang GT 2020"
    frameborder="0"
    allowfullscreen
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
    allow="fullscreen; autoplay; vr"
    xr-spatial-tracking
    execution-while-out-of-viewport
    execution-while-not-rendered
    web-share
    src="https://sketchfab.com/models/14e63217995e4d7ca6523e76ee205e53/embed"
   >
   </iframe>
  </div>
  <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4a4a4a">
   <a
    href="https://sketchfab.com/3d-models/ford-mustang-gt-2020-14e63217995e4d7ca6523e76ee205e53?utm_medium=embed&utm_campaign=share-popup&utm_content=14e63217995e4d7ca6523e76ee205e53"
    target="_blank"
    style="font-weight: bold; color: #1caad9"
   >
    Ford Mustang GT 2020
   </a>
   by
   <a
    href="https://sketchfab.com/zifir3d?utm_medium=embed&utm_campaign=share-popup&utm_content=14e63217995e4d7ca6523e76ee205e53"
    target="_blank"
    style="font-weight: bold; color: #1caad9"
   >
    zifir3d
   </a>
   on
   <a
    href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=14e63217995e4d7ca6523e76ee205e53"
    target="_blank"
    style="font-weight: bold; color: #1caad9"
    >Sketchfab</a
   >
  </p>
 </div>
 <div class="color_tap_wrapper">
  <input class="color_tap color_tap_1" type="button" />
  <input class="color_tap color_tap_2" type="button" />
  <input class="color_tap color_tap_3" type="button" />
  <input class="color_tap color_tap_4" type="button" />
  <input class="color_tap color_tap_5" type="button" />
  <input class="color_tap color_tap_6" type="button" />
  <input class="color_tap color_tap_7" type="button" />
  <input class="color_tap color_tap_8" type="button" />
  <input class="color_tap color_tap_9" type="button" />
  <input class="color_tap color_tap_0" type="button" />
 </div>
</div>

{% endblock content %}
