{% block content %}
<div class="consulting_wrapper">
 <div class="consulting_wrapper">
  <div class="consulting_title_wrapper">
   <h2 class="consulting_title">CONSULTING</h2>
  </div>
  <form action="/" method="POST">
   <div class="consulting_box">
    <div class="left_input_box">
     <div class="left_input_1">
      <div>
       <span class="consulting_input_title">이름</span>
       <span class="consulting_input_title_icon">*</span>
      </div>
      <input class="consulting_input" placeholder="이름를 입력해주세요." onchange="input_name('sdfs')" />
     </div>
     <div class="left_input_2">
      <div>
       <span class="consulting_input_title">연락처</span>
       <span class="consulting_input_title_icon">*</span>
      </div>

      <input class="consulting_input" placeholder="연락처를 입력해주세요." />
     </div>
     <div class="left_input_3">
      <div>
       <span class="consulting_input_title">이메일</span>
       <span class="consulting_input_title_icon">*</span>
      </div>
      <input class="consulting_input" placeholder="이메일를 입력해주세요." />
     </div>
    </div>
    <div class="right_input_box">
     <div class="right_input">
      <div>
       <span class="consulting_input_title">소요예산</span>
       <span class="consulting_input_title_icon">*</span>
      </div>
      <input class="consulting_input" placeholder="소요예산를 입력해주세요(숫자만 입렵해주세요)." />
     </div>
     <div class="right_textarea">
      <div>
       <span class="consulting_input_title">내용</span>
       <span class="consulting_input_title_icon">*</span>
      </div>
      <textarea class="consulting_textarea" placeholder="내용을 입력해주세요."></textarea>
     </div>
    </div>
   </div>
   <div class="consulting_button">
    <input type="button" value="문의 보내기" />
   </div>
  </form>
 </div>
</div>
{% endblock content %}
