{% block content %}
<div class="spac_wrapper" id="spac_page">
 <h2 class="spac_title">spac</h2>
 <div class="spac_img_box">
  <div class="spac_back_belt"></div>
  <img
   class="spac_logo"
   src="https://firebasestorage.googleapis.com/v0/b/hmg-fileserver.appspot.com/o/MUSTANG%2Fspac%2Fspac_img.png?alt=media&token=0dcdf192-ad59-4b4f-b7e9-6d8f8b55fdc8"
  />
 </div>
 <div class="spac_table_wrapper">
  <img
   class="spac_table"
   src="https://firebasestorage.googleapis.com/v0/b/hmg-fileserver.appspot.com/o/MUSTANG%2Fspac%2Fspac_table.png?alt=media&token=5d43c6c1-8b31-4a20-a216-6e8633437c50"
  />
 </div>
 <!-- 새로운 탭에 나오게 만들어야함 -->
 <div class="spac_a_wrapper">
  <a href="https://www.ford.co.kr/cars/mustang/models/gt-premiumconvertible/?intcmp=vhp-return-model" target="_blank" class="spac_a"
   >자세히보기</a
  >
 </div>
</div>
{% endblock content %}
